<!--Mostramos los procesos definidos por la empresa-->
<p>Respuesta del servidor: {{message}}</p>
<p></p>
<table>
<tr>
    <th>name</th><th>workflow</th><th>orden</th><th>task</th><th>data</th>
</tr>
<tr ng-repeat='p in processes | orderBy:"name"'>
    <th>{{p.name}}</th>
    <th>{{p.workflow}}</th>
    <th>{{p.orden}}</th>
    <th>{{p.task}}</th>
    <th>{{p.data}}</th>
</tr>

</table>
<button  ng-click="startProcess1()" >Comenzar Proceso 1</button>
<button  ng-click="startProcess2()" >Comenzar Proceso 2</button>
<button  ng-click="startProcess3()">Comenzar Proceso 3</button>
<br>
<p>{{message}}</p>
<br>
<a href='#!/todo'>Ver tareas</a>
<a href='#/!'>Volver a la pantalla principal</a>